@page
@model EmpresasCulturales.Pages.Pages_Explicacion


<div class ="bg-gray-500 p-10">

    <h1 class="text-3xl font-bold text-center">Síntesis del Proyecto</h1>
    
    <p class="mt-4 text-lg text-gray-700">

        Trabajo de investigación: aporte historiográfico significativo para comprender el proceso histórico, político y cultural de la Argentina finisecular y las particularidades del liberalismo argentino de principios del siglo XX.
Análisis-reflexivo y crítico del “corpus” textual de la Revista Argentina de Ciencias Políticas (1910-1928), la revista Atlántida (1911-1914), la Revista Argentina de Derecho Historia y Letras (1898-1923) y la revista Caras y Caretas (1898-1930).

    </p>
</div>