@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
<h1 class="text-3xl font-bold text-center">Hipótesis de Trabajo:</h1>
    <p class="mt-4 text-lg text-gray-700">
Verificar si las revistas actuaron como canales de expresión de grupos o de elites intelectuales y políticas desde la perspectiva de las publicaciones especializadas
Resultados esperados:
Obtener una obra historiográfica científica y rigurosa enriquecedora del acervo intelectual, político y cultural de la historia nacional, resignificando el proceso histórico. 
Demostrar la contribución de las revistas seleccionadas a dar carácter a la identidad de la Nación 
Formación de Recursos Humanos diestros en el manejo de técnicas de investigación
.</p>
</div>
