@page
@model EmpresasCulturales.Pages.Pages_Objetivo


<div class ="bg-gray-100 p-10">

    <h1 class="text-3xl font-bold text-center">Objetivos de las empresas culturales</h1>
    
    <p class="mt-4 text-lg text-gray-700">

<li>  Aspiración:  regeneración espiritual y/o apoyo al programa de principios propuesto por Roque Sáenz Peña en 1910.</li>

<li>Construcción de la nacionalidad, </li>
<li>Sin propósitos partidistas o sectoriales,</li>
<li>Abiertas a todas las ideas.</li>
      
    </p>
</div>

