@page
@model EmpresasCulturales.Pages.Pages_Revistas

<div class="bg-gray-100 p-10">
    
    
    <div class="mt-8">
        <!-- Revista Caras y Caretas -->
        <div class="mb-8">
            <h2 class="text-2xl font-bold">REVISTA CARAS Y CARETAS 
“Semanario festivo, literario, artístico y de intelectuales" </h2>
            <p class="mt-2 text-gray-700">

            <li> Director: Eustaquio Pellicer.</li> 
            <li> Revista editada entre: 1898-1939.</li> 
            <li> Breve reseña:</li>
 
La revista se destacó por sus caricaturas y sátiras políticas, siendo un referente en este estilo literario. Entre los caricaturistas más reconocidos se encuentran Manuel Mayol y José María Cao Luaces. En cuanto a su diseño, presentaba dos portadas: una principal, a color, y otra en blanco y negro en el interior. Las ilustraciones y la estructura miscelánea fueron elementos clave en su éxito. Gracias a su bajo costo, la publicación alcanzó un público amplio. A lo largo de los años, se incrementó el uso de publicidades y la fotografía adquirió un papel relevante en sus páginas.

            </p>
            <!-- Galería de imágenes -->
            <div class="mt-4 grid grid-cols-3 gap-4">
           
                <img src="~/images/cara_carasycaretas.jpg" class="w-64 h-auto mx-auto">
                <img src="~/images/contra_carasycar.jpg" class="w-64 h-auto mx-auto">
            </div>
        </div>

        <!-- Otras revistas... -->
<!-- Revista de derecho  historia y letras  -->
        <div class="mb-8">
            <h2 class="text-2xl font-bold">REVISTA DE DERECHO, HISTORIA Y LETRAS
</h2>
            <p class="mt-2 text-gray-700">

            <li> Director: Estanislao S. Zeballos</li> 
            <li> Revista editada entre: 1989- 1923</li> 
            <li> Breve reseña:</li>
        Revista especializada en los campos de Historia, Derecho y Literatura, dirigida a un público intelectual. En torno al Centenario, muestra interés por recuperar la identidad nacional y resaltar la impronta fuertemente revolucionaria y hasta separatista que circulaba en escritos entorno a 1810.

            </p>
            <!-- Galería de imágenes -->
            <div class="mt-4 grid grid-cols-3 gap-4">
                <img src="~/images/tapa_revista_inst.jpg" class="w-64 h-auto mx-auto">
                <img src="~/images/contra_rev_inst.jpg" class="w-64 h-auto mx-auto">
            </div>
        </div>
        <!-- Similar estructura para las otras tres revistas -->
        <!-- Revista Argentina de ciuencias politicas  -->
        <div class="mb-8">
            <h2 class="text-2xl font-bold">REVISTA ARGENTINA DE CIENCIAS POLÍTICAS
</h2>
            <p class="mt-2 text-gray-700">

            <li> Director: Rodolfo Rivarola</li> 
            <li> Revista editada entre: 1910- 1926</li> 
            <li> Breve reseña:</li>
La revista  analiza diversas temáticas en relación al Derecho, la administración pública, economía política, sociología, historia y educación. Es una publicación científica que tiene el objetivo de sintetizar reflexiones sobre aspectos relevantes de la ciencia y la sociedad hacia 1910. El autor propone un estudio basado en la observación científica de hechos que puedan servir para la formación de la conciencia nacional.  Se expone la necesidad de una nueva política fundada en saberes científicos y ejercida por un gobierno competente, en este sentido analiza la formación de los gobernantes por parte de las instituciones de aquel momento.

            </p>
            <!-- Galería de imágenes -->
            <div class="mt-4 grid grid-cols-3 gap-4">
           
                <img src="~/images/cara_rev_cs_pol.jpg" class="w-full h-auto border-2 border-gray-300 rounded">
            </div>
        </div>
          <!-- Revista Atlántida argentina  -->
        <div class="mb-8">
            <h2 class="text-2xl font-bold">REVISTA ATLÁNTIDA 
</h2>
            <p class="mt-2 text-gray-700">

            <li> Director: David Peña.</li> 
            <li> Revista editada entre: 1911- 1913</li> 
            <li> Breve reseña:</li>
La revista participa del debate ideológico y cultural en el que estaba imbuida la Argentina. Contribuyó al movimiento intelectual de la época con publicaciones de referentes como J. Figueroa Alcorta, Roque Saenz Peña, Luis Agote, Vicente Fidel López y Domingo Sarmiento, entre otros. El  director David Peña, tenía un propósito americanista, buscando unir el “alma de América”. Sin embargo, estaban preocupados por lo nacional y la búsqueda de una identidad, en un marco histórico signado por el Centenario de Mayo y la nueva ley electoral de 1912. Se expone en ella la búsqueda de elevar el conocimiento y el saber. Y con su difusión, incidió en el ámbito cultural y científico de la época. 
            </p>
            <!-- Galería de imágenes -->
            <div class="mt-4 grid grid-cols-3 gap-4">
       
                <img src="~/images/tapa_real.jpg" class="w-64 h-auto mx-auto">
            
                <img src="~/images/contratapa.jpg" class="w-64 h-auto mx-auto">
            
            </div>
        </div>
    </div>
</div>
